@charset "UTF-8";
/* Bases del sitio (reset y tipografía) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

body {
  font-family: "Montserrat"; /* Tipografía */
  font-weight: 400;
  font-size: 1rem;
  min-width: 315px; /* Tamaño mínimo del sitio */
}

/* Paleta de colores */
/* Header */
.header {
  background-color: #33052e;
  padding: 0.75rem 2.5rem;
}

.header__logo {
  width: 4.5rem;
  height: 4.5rem;
}

/* Títulos y encabezados */
.titulo-encabezado {
  margin: 1.25rem 2.5rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #33052e;
  color: #33052e;
  font-size: 2rem;
  letter-spacing: 3px;
}

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.75rem 2.5rem;
  background-color: #33052e;
  color: #f2e5a2;
  font-size: 1rem;
}

.footer__logo {
  width: 4.5rem;
  height: 4.5rem;
}

.footer__copy {
  margin: 1.25rem 0;
  text-align: center;
}

.footer__redes {
  margin-bottom: 0.75rem;
}

.footer__link {
  padding: 0 0.75rem;
  color: #f2e5a2;
  font-size: 1.25rem;
  text-decoration: none;
}

/* Pages del sitio */
/* Home (index) */
.banner {
  margin: 1.5rem 2.5rem;
  position: relative;
  text-align: center;
}

.banner__slogan {
  position: absolute;
  top: 10%;
  right: 40%;
  color: #f2e5a2;
  font-size: 1.25rem;
  letter-spacing: 3px;
  -webkit-text-stroke: 1px #33052e;
}

.banner__grand-cinema {
  width: 100%;
}

.peliculas {
  padding: 1.25rem 0;
}

.peliculas--estrenos {
  background-color: #e4e4e4;
}

.carousel__estrenos,
.carousel__proximos-estrenos,
.carousel__anticipadas {
  margin: 1.25rem 2.5rem;
}

/* Cartelera */
.cartelera {
  margin: 1.5rem 2.5rem;
  border: 1px solid #33052e;
  border-radius: 5px;
  background-color: #e4e4e4;
}

.cartelera__estreno {
  display: flex;
  justify-content: space-between;
  background-color: #33052e;
}

.cartelera__titulo {
  padding: 0.75rem;
  background-color: #33052e;
  font-size: 1.35em;
}

.cartelera__link {
  color: #f2e5a2;
  text-decoration: none;
  text-transform: uppercase;
}

.cartelera__estreno-semanal {
  padding: 0.75rem;
  color: #f2e5a2;
  font-size: 0.5rem;
  align-self: center;
}

.cartelera__ficha {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  align-items: center;
}

.cartelera__poster {
  width: 9rem;
  height: 12rem;
  margin: 1rem 0.75rem;
  margin-right: 0.5rem;
  border: 1px solid #33052e;
  align-self: center;
}

.cartelera__contenido {
  margin: 0.75rem;
  border-top: 2px solid #33052e;
}

.cartelera__sinopsis {
  margin-bottom: 1rem;
  padding: 0.5rem 0.75rem;
  padding-top: 0.75rem;
  font-size: 0.8rem;
  text-align: justify;
}

.cartelera__ficha-tecnica {
  display: none;
}

/* Cartelera (contenido películas) */
.titulo {
  display: flex;
  justify-content: space-between;
}

.titulo__link-volver {
  display: none;
}

.titulo__estreno {
  margin: 1.25rem 2.5rem;
  margin-top: -0.75rem;
  background-color: #e4e4e4;
  font-size: 1rem;
  letter-spacing: 2px;
}

.pelicula {
  display: grid;
  margin: 1.25rem 2.5rem;
  grid-template-areas: "poster" "horarios" "ficha_tecnica" "resumen" "trailer";
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  row-gap: 0.75rem;
}

.pelicula__poster {
  grid-area: poster;
  justify-self: center;
}

.poster__poster {
  border: 1px solid #33052e;
}

.pelicula__horarios {
  grid-area: horarios;
  margin: 0.5rem 0;
}

.horarios__horario {
  padding: 0.5rem 0.75rem;
  background-color: #e4e4e4;
  border: 1px solid #33052e;
}

.horarios__formato {
  background-color: #e4e4e4;
  color: #33052e;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.horarios__funciones {
  padding-top: 0.25rem;
  background-color: #e4e4e4;
  font-size: 0.9rem;
}

.pelicula__ficha {
  grid-area: ficha_tecnica;
}

.pelicula__resumen {
  grid-area: resumen;
}

.ficha__titulo,
.resumen__titulo {
  color: #33052e;
  border-bottom: 2px solid #33052e;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.ficha__ficha-tecnica,
.resumen__sinopsis {
  margin: 0.75rem 0;
  margin-bottom: 1.25rem;
  font-size: 0.9rem;
}

.pelicula__trailer {
  grid-area: trailer;
  justify-self: center;
  align-self: center;
}

.trailer__video {
  width: 29rem;
  height: 20rem;
}

/* Próximos Estrenos */
.estrenos {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.estreno {
  display: flex;
  flex-direction: column;
  margin: 1.25rem 2.5rem;
  background-color: #e4e4e4;
  border: 1px solid #33052e;
  border-radius: 5px;
}

.estreno__titulo {
  padding: 0.75rem;
  background-color: #33052e;
  color: #f2e5a2;
  font-size: 1.35rem;
  text-align: center;
  text-transform: uppercase;
}

.estreno__fecha {
  padding: 0.75rem;
  text-align: center;
  background-color: #94748c;
  font-size: 1rem;
}

.estreno__poster {
  width: 13rem;
  height: 17rem;
  margin: 1rem;
  border: 1px solid #33052e;
  align-self: center;
}

.estreno__sinopsis {
  margin: 0.75rem;
  margin-top: 0;
  padding-top: 0.75rem;
  border-top: 2px solid #33052e;
  font-size: 0.8rem;
  text-align: justify;
}

/* Precios */
.precios {
  display: flex;
  flex-direction: column;
  margin: 1.25rem 2.5rem;
}

.precios__precios,
.precios__informacion {
  margin-bottom: 1rem;
  font-size: 0.7rem;
}

.table__titulos {
  font-size: 1rem;
}

.precios__adicional {
  font-size: 0.65rem;
  font-weight: 700;
  text-align: center;
}

.informacion__link {
  color: #33052e;
  font-size: 0.8rem;
  font-weight: 700;
  text-decoration: none;
}

/* Calificaciones */
.calificaciones {
  margin: 1.25rem 2.5rem;
}

.calificaciones__card {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.calificaciones__mpa {
  min-width: 150px;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid #33052e;
  border-radius: 5px;
  font-weight: 600;
  text-align: center;
}

.calificaciones__mpa--atp {
  background-color: #42e44e;
}

.calificaciones__mpa--edad-apropiada {
  background-color: #ffe22c;
}

.calificaciones__mpa--restringido {
  background-color: #b80000;
}

.calificaciones__descripcion {
  margin: 0.5rem;
  padding: 0.5rem 0.75rem;
  font-size: 0.9rem;
}

.autorizacion {
  margin: 2.5rem 0;
  padding: 1.5rem 2.5rem;
  background-color: #e4e4e4;
}

.autorizacion__titulo {
  color: #33052e;
  border-bottom: 2px solid #33052e;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.autorizacion__subtitulo {
  margin-top: 0.75rem;
  color: #33052e;
  font-size: 1rem;
  letter-spacing: 2px;
}

.autorizacion__descripcion {
  margin: 0.75rem 0;
  margin-bottom: 1.25rem;
  font-size: 0.9rem;
}

.autorizacion__resolucion {
  color: #33052e;
  font-weight: 700;
}

.autorizacion__link {
  margin: 0.75rem 0;
  padding: 0.5rem;
  background-color: #dda947;
  color: #33052e;
  border: 2px solid #33052e;
  border-radius: 5px;
  font-size: 0.9rem;
  text-decoration: none;
}

/* Contacto */
.contactanos {
  display: grid;
  margin: 1.25rem 2.5rem;
  grid-template-areas: "festeja" "merchandising" "sorteos" "publicitar" "eventos";
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  row-gap: 0.75rem;
}

.contactanos__ofertas {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8rem;
}

.ofertas--festeja {
  grid-area: festeja;
}

.ofertas--merchandising {
  grid-area: merchandising;
}

.ofertas--sorteos {
  grid-area: sorteos;
}

.ofertas--publicitar {
  grid-area: publicitar;
}

.ofertas--eventos {
  grid-area: eventos;
}

.ofertas__img {
  margin: 0.5rem 0;
}

.ofertas__descripcion {
  margin: 0.5rem 0;
  text-align: center;
}

.deja-tu-consulta {
  margin: 2.5rem 0;
  padding: 1.5rem 2.5rem;
  background-color: #e4e4e4;
}

.consulta__titulo {
  color: #33052e;
  border-bottom: 2px solid #33052e;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.consulta__formulario {
  margin: 2rem 0;
}

.formulario__campo {
  margin: 1.25rem 0;
  font-size: 0.75rem;
}

.formulario__label {
  margin: 5px 0;
  font-size: 0.8rem;
  font-weight: 700;
}

.formulario__input {
  width: 100%;
  padding: 5px;
}

.input--select,
.input--textarea {
  font-family: inherit;
}

.input--textarea {
  resize: none;
  min-height: 5rem;
}

.formulario__enviar {
  width: 100%;
  padding: 5px;
  background-color: #33052e;
  color: #f2e5a2;
  border: 1px solid #33052e;
  border-radius: 5px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* Media Queries (responsive) */
/* Resolución mínima: 576px */
@media screen and (min-width: 576px) {
  /* Home (index) */
  .banner__slogan {
    top: 25%;
    right: 50%;
    font-size: 2.25rem;
  }
  /* Cartelera */
  .cartelera__ficha {
    flex-direction: row;
  }
  .cartelera__poster {
    min-width: 9rem;
    min-height: 12rem;
  }
  .cartelera__contenido {
    display: flex;
    flex-direction: column;
    border: 0;
    border-left: 2px solid #33052e;
    min-height: 200px;
  }
  .cartelera__sinopsis {
    margin-bottom: 0;
    padding-left: 0.75rem;
  }
  .cartelera__ficha-tecnica {
    display: block;
    margin-bottom: 1rem;
    padding: 0.5rem 0.75rem;
    padding-left: 0.75rem;
    font-size: 0.8rem;
    text-align: justify;
  }
  /* Contacto */
  .contactanos {
    grid-template-areas: "festeja    merchandising" "sorteos    publicitar" "eventos    eventos";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    column-gap: 1.5rem;
  }
}
/* Resolución mínima: 768px */
@media screen and (min-width: 768px) {
  /* Home (index) */
  .banner__slogan {
    font-size: 3.25rem;
  }
  /* Cartelera (contenido películas) */
  .pelicula {
    grid-template-areas: "poster         horarios" "poster         ficha_tecnica" "resumen        resumen" "trailer        trailer";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    column-gap: 1.5rem;
  }
  /* Próximos Estrenos */
  .estrenos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
  .estreno {
    flex-grow: 1;
    flex-basis: 0;
    min-width: 19rem;
  }
  .estreno__poster {
    width: 16rem;
    height: 20rem;
  }
  /* Footer */
  .footer {
    flex-direction: row;
    justify-content: space-between;
  }
}
/* Resolución mínima: 992px */
@media screen and (min-width: 992px) {
  /* Cartelera */
  .cartelera__link:hover {
    color: #94748c;
  }
  /* Cartelera (contenido películas) */
  .titulo__link-volver {
    display: inline;
    color: #33052e;
  }
  .pelicula {
    grid-template-areas: "poster         trailer" "horarios       resumen" "ficha_tecnica  resumen";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }
  /* Calificaciones */
  .autorizacion__link {
    padding: 0;
    background-color: #e4e4e4;
    color: #33052e;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #33052e;
  }
  .autorizacion__link:hover {
    font-weight: 700;
  }
  /* Contacto */
  .contactanos {
    grid-template-areas: "festeja    sorteos     sorteos     merchandising" "publicitar publicitar  eventos     eventos";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
  }
  .consulta__formulario {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 75%;
  }
  .formulario__enviar:hover {
    background-color: #94748c;
    color: #33052e;
    font-weight: 700;
  }
  /* Footer */
  .footer__link {
    padding: 0 0.5rem;
  }
  .footer__link:hover {
    color: #dda947;
  }
}

/*# sourceMappingURL=styles.css.map */
