
/*
Paleta de colores:
    Color: #F2E5A2 (Amarillo claro)
    Color: #DDA947 (Dorado)
    Color: #94748C (Violeta claro)
    Color: #33052E (Violeta)
*/


* {
    padding: 0;
    margin: 0;
    max-width: 100%;
    box-sizing: border-box;
}

body {
    min-width: 315px;
    font-size: 1rem;
    font-family: "Montserrat";
    font-weight: 400;
}

.cursiva {
    font-style: italic;
}



/* HEADER */

.header {
    background-color: #33052e;
    padding: 0.75rem 2.5rem;
}

.header__logo {
    width: 4.5rem;
    height: 4.5rem;
}



/* TÍTULOS Y SUBTÍTULOS */

.titulo-encabezado {
    margin: 1.25rem 2.5rem;
    padding-bottom: 1rem;
    font-size: 2rem;
    letter-spacing: 3px;
    border-bottom: 2px solid #33052e;
    color: #33052e;
}



/* INICIO */

.banner {
    margin: 1.5rem 2.5rem;
    position: relative;
    text-align: center;
}

.banner__slogan {
    position: absolute;
    top: 10%;
    right: 40%;
    font-size: 1.25rem;
    -webkit-text-stroke: 1px #33052e;
    letter-spacing: 3px;
    color: #f2e5a2;
}

.banner__grand-cinema {
    width: 100%;
}

.peliculas {
    padding: 1.25rem 0;
}

.peliculas--estrenos {
    background-color: #e4e4e4;
}

.carousel__estrenos,
.carousel__proximos-estrenos,
.carousel__anticipadas {
    margin: 1.25rem 2.5rem;
}


@media screen and (min-width: 576px) {
    .banner__slogan {
        top: 25%;
        right: 50%;
        font-size: 2.25rem;
    }
}

@media screen and (min-width: 768px) {
    .banner__slogan {
        font-size: 3.25rem;
    }
}



/* CARTELERA */

.cartelera {
    margin: 1.5rem 2.5rem;
    background-color: #e4e4e4;
    border: 1px solid #33052e;
    border-radius: 5px;
}

.cartelera__estreno {
    display: flex;
    justify-content: space-between;
    background-color: #33052e;
}

.cartelera__titulo {
    padding: 0.75rem;
    font-size: 1.35em;
    background-color: #33052e;
}

.cartelera__link {
    color: #f2e5a2;
    text-decoration: none;
    text-transform: uppercase;
}

.cartelera__estreno-semanal {
    padding: 0.75rem;
    align-self: center;
    font-size: 0.5rem;
    color: #f2e5a2;
}

.cartelera__ficha {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
}

.cartelera__poster {
    width: 9rem;
    height: 12rem;
    margin: 1rem 0.75rem;
    margin-right: 0.5rem;
    border: 1px solid #33052e;
    align-self: center;
}

.cartelera__contenido {
    margin: 0.75rem;
    border-top: 2px solid #33052e;
}

.cartelera__sinopsis {
    margin-bottom: 1rem;
    padding: 0.5rem 0.75rem;
    padding-top: 0.75rem;
    text-align: justify;
    font-size: 0.8rem;
}

.cartelera__ficha-tecnica {
    display: none;
}


@media screen and (min-width: 576px) {
    .cartelera__ficha {
        flex-direction: row;
    }

    .cartelera__poster {
        min-width: 9rem;
        min-height: 12rem;
    }

    .cartelera__contenido {
        display: flex;
        flex-direction: column;
        border: 0;
        border-left: 2px solid #33052e;
        min-height: 200px;
    }

    .cartelera__sinopsis {
        margin-bottom: 0;
        padding-left: 0.75rem;
    }

    .cartelera__ficha-tecnica {
        display: block;
        margin-bottom: 1rem;
        padding: 0.5rem 0.75rem;
        padding-left: 0.75rem;
        text-align: justify;
        font-size: 0.8rem;
    }
}

@media screen and (min-width: 992px) {
    .cartelera__link:hover {
        color: #94748c;
    }
}



/* CONTENIDO - CARTELERA - */

.titulo {
    display: flex;
    justify-content: space-between;
}

.titulo__link-volver {
    display: none;
}

.titulo__estreno {
    margin: 1.25rem 2.5rem;
    margin-top: -0.75rem;
    font-size: 1rem;
    background-color: #e4e4e4;
    letter-spacing: 2px;
}

.pelicula {
    display: grid;
    margin: 1.25rem 2.5rem;
    grid-template-areas:
    "poster"
    "horarios"
    "ficha_tecnica"
    "resumen"
    "trailer";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    row-gap: 0.75rem;
}

.pelicula__poster {
    grid-area: poster;
    justify-self: center;
}

.poster__poster {
    border: 1px solid #33052e;
}

.pelicula__horarios {
    grid-area: horarios;
    margin: 0.5rem 0;
}

.horarios__horario {
    padding: 0.5rem 0.75rem;
    background-color: #e4e4e4;
    border: 1px solid #33052e;
}

.horarios__formato {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 2px;
    background-color: #e4e4e4;
    color: #33052e;
}

.horarios__funciones {
    font-size: 0.9rem;
    padding-top: 0.25rem;
    background-color: #e4e4e4;
}

.pelicula__ficha {
    grid-area: ficha_tecnica;
}

.pelicula__resumen {
    grid-area: resumen;
}

.ficha__titulo,
.resumen__titulo {
    font-size: 1.5rem;
    letter-spacing: 2px;
    border-bottom: 2px solid #33052e;
    color: #33052e;
}

.ficha__ficha-tecnica,
.resumen__sinopsis {
    margin: 0.75rem 0;
    margin-bottom: 1.25rem;
    font-size: 0.9rem;
}

.pelicula__trailer {
    grid-area: trailer;
    justify-self: center;
    align-self: center;
}

.trailer__video {
    width: 29rem;
    height: 20rem;
}


@media screen and (min-width: 768px) {
    .pelicula {
        display: grid;
        margin: 1.25rem 2.5rem;
        grid-template-areas:
        "poster         horarios"
        "poster         ficha_tecnica"
        "resumen        resumen"
        "trailer        trailer";
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        row-gap: 0.75rem;
        column-gap: 1.5rem;
    }
}

@media screen and (min-width: 992px) {
    .titulo__link-volver {
        display: inline;
        color: #33052e;
    }

    .pelicula {
        display: grid;
        margin: 1.25rem 2.5rem;
        grid-template-areas:
        "poster         trailer"
        "horarios       resumen"
        "ficha_tecnica  resumen";
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        row-gap: 0.75rem;
        column-gap: 1.5rem;
    }
}



/* PRÓXIMOS ESTRENOS */

.estrenos {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.estreno {
    display: flex;
    flex-direction: column;
    margin: 1.25rem 2.5rem;
    background-color: #e4e4e4;
    border: 1px solid #33052e;
    border-radius: 5px;
}

.estreno__titulo {
    padding: 0.75rem;
    font-size: 1.35rem;
    text-align: center;
    text-transform: uppercase;
    background-color: #33052e;
    color: #f2e5a2;
}

.estreno__fecha {
    padding: 0.75rem;
    text-align: center;
    background-color: #94748c;
    font-size: 1rem;
}

.estreno__poster {
    width: 13rem;
    height: 17rem;
    margin: 1rem;
    border: 1px solid #33052e;
    align-self: center;
}

.estreno__sinopsis {
    margin: 0.75rem;
    margin-top: 0;
    padding-top: 0.75rem;
    text-align: justify;
    border-top: 2px solid #33052e;
    font-size: 0.8rem;
}


@media screen and (min-width: 768px) {
    .estrenos {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }

    .estreno {
        min-width: 19rem;
        flex-grow: 1;
        flex-basis: 0;
    }

    .estreno__poster {
        width: 16rem;
        height: 20rem;
    }
}



/* PRECIOS */





/* CALIFICACIONES */

.calificaciones {
    margin: 1.25rem 2.5rem;
}

.calificaciones__card {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.calificaciones__mpa {
    margin: 0.5rem 0;
    padding: 0.5rem;
    min-width: 150px;
    border: 1px solid #33052e;
    border-radius: 5px;
    font-weight: 600;
    text-align: center;
}

.calificaciones__mpa--atp {
    background-color: #42e44e;
}

.calificaciones__mpa--edad-apropiada {
    background-color: #ffe22c;
}

.calificaciones__mpa--restringido {
    background-color: #b80000;
}

.calificaciones__descripcion {
    margin: 0.5rem;
    padding: 0.5rem 0.75rem;
    font-size: 0.9rem;
}

.autorizacion {
    margin: 2.5rem 0;
    padding: 1.5rem 2.5rem;
    background-color: #e4e4e4;
}

.autorizacion__titulo {
    font-size: 1.5rem;
    letter-spacing: 2px;
    border-bottom: 2px solid #33052e;
    color: #33052e;
}

.autorizacion__subtitulo {
    margin-top: 0.75rem;
    font-size: 1rem;
    letter-spacing: 2px;
    color: #33052e;
}

.autorizacion__descripcion {
    margin: 0.75rem 0;
    margin-bottom: 1.25rem;
    font-size: 0.9rem;
}

.autorizacion__resolucion {
    color: #33052e;
    font-weight: 700;
}

.autorizacion__link {
    margin: 0.75rem 0;
    padding: 0.5rem;
    font-size: 0.9rem;
    border: 2px solid #33052e;
    border-radius: 5px;
    background-color: #dda947;
    color: #33052e;
    text-decoration: none;
}


@media screen and (min-width: 992px) {
    .autorizacion__link {
        padding: 0;
        border: none;
        border-radius: 0;
        border-bottom: 2px solid #33052e;
        background-color: #e4e4e4;
        color: #33052e;
    }

    .autorizacion__link:hover {
        font-weight: 700;
    }
}



/* CONTACTO */

form {
    margin: 1.25rem 2.5rem;
}

input, select, textarea {
    width: 100%;
    padding: 4px;
    margin: 8px 0;
    font-family: inherit;
}

textarea {
    min-width: 100%;
    min-height: 100px;
    resize: none;
}

.form-button {
    width: 50%;
    letter-spacing: 2px;
    text-transform: uppercase;
}






/* FOOTER */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.75rem 2.5rem;
    font-size: 1rem;
    background-color: #33052e;
    color: #f2e5a2;
}

.footer__logo {
    width: 4.5rem;
    height: 4.5rem;
}

.footer__copy {
    margin: 1.25rem 0;
    text-align: center;
}

.footer__redes {
    margin-bottom: 0.75rem;
}

.footer__link {
    padding: 0 0.75rem;
    font-size: 1.25rem;
    color: #f2e5a2;
    text-decoration: none;
}


@media screen and (min-width: 768px) {
    .footer {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media screen and (min-width: 992px) {
    .footer__link {
        padding: 0 0.5rem;
    }

    .footer__link:hover {
        color: #dda947;
    }
}
