
@use '../utils/variables' as v;
@use '../utils/mixins' as mix;


/* Footer */
.footer {
    @include mix.d-flex(column);
    align-items: center;
    font-size: v.$font-normal;
    color: v.$color-secundario;
}

.footer__logo {
    @include mix.d-media(4.5rem, 4.5rem);
}

.footer__copy {
    margin: 1.25rem 0;
    text-align: center;
}

.footer__redes {
    margin-bottom: 0.75rem;
}

.footer__link {
    padding: 0 0.75rem;
    font-size: v.$font-icons;
    color: v.$color-secundario;
    text-decoration: none;
}
