
@use '../utils/variables' as v;
@use '../utils/mixins' as mix;


/* Resolución mínima: 576px */
@media screen and (min-width: 576px) {
    /* Home (index) */
    .banner__slogan {
        top: 25%;
        right: 50%;
        font-size: v.$font-banner;
    }

    /* Cartelera */
    .cartelera__ficha {
        @include mix.d-flex(row);
    }

    .cartelera__poster {
        min-width: 9rem;
        min-height: 12rem;
    }

    .cartelera__contenido {
        @include mix.d-flex(column);
        border: 0;
        border-left: 2px solid v.$color-primario;
        min-height: 200px;
    }

    .cartelera__sinopsis {
        margin-bottom: 0;
        padding-left: 0.75rem;
    }

    .cartelera__ficha-tecnica {
        display: block;
        margin-bottom: 1rem;
        padding: 0.5rem 0.75rem;
        padding-left: 0.75rem;
        font-size: v.$font-informacion;
        text-align: justify;
    }

    /* Contacto */
    .contactanos {
        @include mix.d-grid("festeja    merchandising"
                            "sorteos    publicitar"
                            "eventos    eventos",
                            repeat(2, 1fr),
                            repeat(3, auto));
        column-gap: 1.5rem;
    }
}

/* Resolución mínima: 768px */
@media screen and (min-width: 768px) {
    /* Home (index) */
    .banner__slogan {
        font-size: v.$font-banner-lg;
    }

    /* Cartelera (contenido películas) */
    .pelicula {
        @include mix.d-grid("poster         horarios"
                            "poster         ficha_tecnica"
                            "resumen        resumen"
                            "trailer        trailer",
                            repeat(2, 1fr),
                            repeat(4, auto));
        column-gap: 1.5rem;
    }

    /* Próximos Estrenos */
    .estrenos {
        @include mix.d-flex(row, space-evenly);
        flex-wrap: wrap;
    }

    .estreno {
        flex-grow: 1;
        flex-basis: 0;
        min-width: 19rem;
    }

    .estreno__poster {
        @include mix.d-media(16rem, 20rem);
    }

    .consulta__formulario {
        margin: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
        max-width: 80%;
    }

    /* Footer */
    .footer {
        @include mix.d-flex(row, space-between);
    }
}

/* Resolución mínima: 992px */
@media screen and (min-width: 992px) {
    /* Cartelera */
    .cartelera__link:hover {
        color: v.$color-primario-hover;
    }

    /* Cartelera (contenido películas) */
    .titulo__link-volver {
        display: inline;
        color: v.$color-primario;
    }

    .pelicula {
        @include mix.d-grid("poster         trailer"
                            "horarios       resumen"
                            "ficha_tecnica  resumen",
                            repeat(2, 1fr),
                            repeat(3, auto));
    }

    /* Calificaciones */
    .autorizacion__link {
        padding: 0;
        border: none;
        border-radius: 0;
        border-bottom: 2px solid v.$color-primario;
        background-color: v.$color-seccion;
        color: v.$color-primario;

        &:hover {
            font-weight: v.$font-bold;
        }
    }

    /* Contacto */
    .contactanos {
        @include mix.d-grid("festeja    sorteos     sorteos     merchandising"
                            "publicitar publicitar  eventos     eventos",
                            repeat(4, 1fr),
                            repeat(2, auto));
    }

    .consulta__formulario {
        max-width: 65%;
    }

    .formulario__enviar:hover {
        background-color: v.$color-primario-hover;
        font-weight: v.$font-bold;
        color: v.$color-primario;
    }

    /* Footer */
    .footer__link {
        padding: 0 0.5rem;

        &:hover {
            color: v.$color-secundario-hover;
        }
    }
}
