
@use '../utils/variables' as v;


body {
    font-family: "Montserrat";  /* Tipografía */
    font-size: v.$font-normal;
    font-weight: v.$font-regular;
    min-width: 315px; /* Tamaño mínimo del sitio */
}

header, footer {
    padding: 0.75rem 2.5rem;
    background-color: v.$color-primario;
}
