
/* Paleta de colores */
$color-primario: #33052e;
$color-secundario: #f2e5a2;

$color-primario-hover: #94748c;
$color-secundario-hover: #dda947;

$color-bloque: #e4e4e4;
$color-atp: #42e44e;
$color-apropiado: #ffe22c;
$color-restringido: #b80000;
