
@use '../utils/variables' as v;
@use '../utils/mixins' as mix;


/* Calificaciones */
.calificaciones {
    margin: 1.25rem 2.5rem;
}

.calificaciones__card {
    @include mix.d-flex(row);
    flex-wrap: nowrap;
    align-items: center;
}

.calificaciones__mpa {
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 1px solid v.$color-primario;
    border-radius: 5px;
    font-weight: v.$font-semibold;
    text-align: center;
    min-width: 150px;
}

.calificaciones__mpa--atp {
    background-color: v.$color-atp;
}

.calificaciones__mpa--edad-apropiada {
    background-color: v.$color-apropiado;
}

.calificaciones__mpa--restringido {
    background-color: v.$color-restringido;
}

.calificaciones__descripcion {
    margin: 0.5rem;
    padding: 0.5rem 0.75rem;
    font-size: v.$font-informacion;
}

.autorizacion {
    margin: 2.5rem 0;
    padding: 1.5rem 2.5rem;
    background-color: v.$color-seccion;
}

.autorizacion__titulo {
    border-bottom: 2px solid v.$color-primario;
    font-size: v.$font-seccion;
    letter-spacing: 2px;
    color: v.$color-primario;
}

.autorizacion__subtitulo {
    margin-top: 0.75rem;
    font-size: v.$font-normal;
    letter-spacing: 2px;
    color: v.$color-primario;
}

.autorizacion__descripcion {
    margin: 0.75rem 0;
    margin-bottom: 1.25rem;
    font-size: v.$font-informacion;
}

.autorizacion__resolucion {
    font-weight: v.$font-bold;
    color: v.$color-primario;
}

.autorizacion__link {
    margin: 0.75rem 0;
    padding: 0.5rem;
    border: 2px solid v.$color-primario;
    border-radius: 5px;
    background-color: v.$color-secundario-hover;
    font-size: v.$font-descripcion;
    color: v.$color-primario;
    text-decoration: none;
}
