
@use '../utils/variables' as v;
@use '../utils/mixins' as mix;


/* Home (index) */
.banner {
    margin: 1.5rem 2.5rem;
    position: relative;
}

.banner__slogan {
    position: absolute;
    top: 10%;
    right: 40%;
    font-size: v.$font-titulos;
    letter-spacing: 3px;
    color: v.$color-secundario;
    text-align: center;
    -webkit-text-stroke: 1px v.$color-primario;
}

.banner__grand-cinema {
    @include mix.d-media(100%, auto);

}

.peliculas {
    padding: 1.25rem 0;
}

.peliculas--estrenos {
    background-color: v.$color-seccion;
}

.carousel__estrenos,
.carousel__proximos-estrenos,
.carousel__anticipadas {
    margin: 1.25rem 2.5rem;
}
