
@use '../utils/variables' as v;
@use '../utils/mixins' as mix;


/* Próximos Estrenos */
.estrenos {
    @include mix.d-flex(column);
    margin-bottom: 1.5rem;
}

.estreno {
    @include mix.d-flex(column);
    margin: 1.25rem 2.5rem;
    border: 1px solid v.$color-primario;
    border-radius: 5px;
    background-color: v.$color-seccion;
}

.estreno__titulo {
    padding: 0.75rem;
    background-color: v.$color-primario;
    font-size: v.$font-titulos;
    color: v.$color-secundario;
    text-align: center;
    text-transform: uppercase;
}

.estreno__fecha {
    padding: 0.75rem;
    background-color: v.$color-primario-hover;
    font-size: v.$font-normal;
    text-align: center;
}

.estreno__poster {
    @include mix.d-media(13rem, 17rem);
    align-self: center;
    margin: 1rem;
    border: 1px solid v.$color-primario;
}

.estreno__sinopsis {
    margin: 0.75rem;
    margin-top: 0;
    padding-top: 0.75rem;
    border-top: 2px solid v.$color-primario;
    font-size: v.$font-informacion;
    text-align: justify;
}
