
/* Paleta de colores */
$color-primario: #33052e;
$color-secundario: #f2e5a2;

$color-primario-hover: #94748c;
$color-secundario-hover: #dda947;

$color-seccion: #e4e4e4;
$color-atp: #42e44e;
$color-apropiado: #ffe22c;
$color-restringido: #b80000;


/* Tamaños tipografía */
$font-banner-lg: 3.25rem;
$font-banner: 2.25rem;
$font-encabezado: 2rem;
$font-seccion: 1.5rem;
$font-titulos: 1.25rem;
$font-icons: 1.25rem;
$font-normal: 1rem;
$font-descripcion: 0.85rem;
$font-informacion: 0.75rem;
$font-caption: 0.65rem;

/* Grosos tipografía */
$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;
